.btn {
    width: 200px;
    height: 45px;
    font-weight: 600;

    &-primary {
        background-color: $primaryColor;
        color: $lightColor;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        text-transform: capitalize;

        &:hover {
            background-color: $primaryColorAccent;
        }
    }

    &-secondary {

    }
}
