/**
General settings
**/
/**
Theme Colors
**/
/**
Font Size
**/
/**
Custom mixins
**/
/**
Mixins for responsive design
**/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

.container-element {
  width: 90%;
  margin: 0 auto;
}

.title-landing {
  margin: 100px auto;
  color: #121212;
  text-align: center;
  font-size: 24px;
}
@media (min-width: 900px) {
  .title-landing {
    font-size: 32px;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/**
Components
**/
.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 90px;
  background-color: #F5F5F5;
}
.header__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.header__content--title {
  color: #121212;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.header__content--menu {
  display: none;
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: #F5F5F5;
}
@media (min-width: 900px) {
  .header__content--menu {
    position: initial;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .header__content--menu ul {
    width: 90%;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
}
.header__content--menu ul li {
  list-style: none;
  margin-bottom: 20px;
}
@media (min-width: 900px) {
  .header__content--menu ul li {
    margin-bottom: 0;
  }
}
.header__content--menu ul li a {
  color: #121212;
  font-weight: bold;
  text-decoration: none;
}
.header__content--menu ul li a:hover {
  border-bottom: 2px solid #139487;
}
.header__content .menu-active {
  display: block;
  -webkit-animation: fadeIn 0.7s both;
          animation: fadeIn 0.7s both;
}
.header__content .exit :first-child {
  display: none;
  -webkit-animation: fadeOut 1s both;
          animation: fadeOut 1s both;
}
.header__content .exit :last-child {
  display: block;
  -webkit-animation: fadeIn 1s both;
          animation: fadeIn 1s both;
}
.header__content--burger {
  color: #121212;
  font-size: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__content--burger span:last-child {
  display: none;
}
@media (min-width: 900px) {
  .header__content--burger {
    display: none;
  }
}

.btn {
  width: 200px;
  height: 45px;
  font-weight: 600;
}
.btn-primary {
  background-color: #139487;
  color: #F5F5F5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
}
.btn-primary:hover {
  background-color: #19C5B3;
}
.btn-secondary {
  background-color: #F5F5F5;
  color: #121212;
  border-radius: 5px;
  border: 1px solid #139487;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #19C5B3;
  color: #F5F5F5;
}

.pricing-card {
  width: 300px;
  padding: 20px;
  background-color: #F5F5F5;
  border: 2px solid #139487;
  border-radius: 10px;
}
.pricing-card .pricing-header {
  margin-bottom: 10px;
  border-bottom: 2px solid #139487;
}
.pricing-card .pricing-header h2 {
  font-size: 24px;
  text-align: center;
}
@media (min-width: 900px) {
  .pricing-card .pricing-header h2 {
    font-size: 32px;
  }
}
.pricing-card .pricing-header p {
  text-align: center;
}
.pricing-card .pricing-header h3 {
  text-align: center;
  font-size: 24px;
}
.pricing-card .pricing-header h3 span {
  font-size: 32px;
}
.pricing-card .pricing-header button {
  margin: 0 auto 10px;
  display: inherit;
}
.pricing-card .pricing-footer li {
  list-style: none;
}

.opinionCard {
  width: 300px;
  padding: 20px;
  display: grid;
  gap: 20px;
  background-color: #e5e5e5;
  border-radius: 20px;
  border: none;
}
@media (min-width: 900px) {
  .opinionCard {
    width: 400px;
  }
}
.opinionCard__profile {
  display: flex;
  align-items: center;
  gap: 20px;
}

.card-team {
  width: 300px;
  background-color: #e5e5e5;
  border-radius: 5px;
  border: none;
}
.card-team__content {
  padding: 20px;
}
.card-team__content > * {
  margin-bottom: 20px;
}
.card-team__content :last-child {
  margin: 0;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: #4FD3C4;
}
.footer__content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #F5F5F5;
}

.asideDashboard {
  position: fixed;
  top: 90px;
  left: 0;
  width: 300px;
  height: calc(100vh - 90px);
  padding: 15px;
  background-color: #19C5B3;
}
.asideDashboard nav ul li {
  list-style: none;
  margin-bottom: 20px;
}
.asideDashboard nav ul li a {
  text-decoration: none;
  color: #F5F5F5;
  font-weight: bold;
}

.dashboardHeader {
  width: 100%;
  height: 90px;
  padding: 10px 20px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}
.dashboardHeader .logo h1 {
  font-size: 32px;
  text-transform: uppercase;
}
.dashboardHeader .sectionHeader {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.dashboardHeader .sectionHeader h2 {
  font-size: 24px;
}

.challengeCard {
  width: 250px;
  height: 250px;
  padding: 20px;
  background-color: #F5F5F5;
}

/**
Layout styles
**/
.hero {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr;
  place-content: center;
}
.hero img {
  grid-area: 1/1/2/2;
  width: 100%;
  height: calc(100vh - 100px);
  -o-object-fit: cover;
     object-fit: cover;
}
.hero__content {
  grid-area: 1/1/2/2;
  display: grid;
  place-content: center;
}
.hero__content h1 {
  margin-bottom: 20px;
  text-align: center;
  color: #F5F5F5;
}
.hero__content button {
  display: inherit;
  margin: 0 auto;
}

.about__content--description article {
  margin-bottom: 20px;
  display: grid;
  gap: 20px;
}
@media (min-width: 900px) {
  .about__content--description article {
    grid-template-columns: repeat(2, 1fr);
  }
}
.about__content--description article img {
  width: 100%;
}

.leads__content--info {
  display: grid;
  gap: 20px;
}
@media (min-width: 900px) {
  .leads__content--info {
    grid-template-columns: repeat(2, 1fr);
  }
}
.leads__content--info img {
  width: 100%;
}

.pricing__content--elements {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  place-content: center;
  place-items: center;
  gap: 20px;
}
@media (min-width: 900px) {
  .pricing__content--elements {
    grid-template-columns: repeat(3, 1fr);
  }
}

.requirements__content ul {
  margin: 0 20px;
}
@media (min-width: 900px) {
  .requirements__content ul {
    margin: 0;
  }
}

.opinions__content--wrapper {
  display: grid;
  place-content: center;
  gap: 20px;
}
@media (min-width: 900px) {
  .opinions__content--wrapper {
    grid-template-columns: repeat(auto-fill, 450px);
  }
}

.team__content--list {
  display: grid;
  place-content: center;
  gap: 20px;
}
@media (min-width: 900px) {
  .team__content--list {
    grid-template-columns: repeat(auto-fit, 350px);
  }
}

.contact {
  margin-bottom: 100px;
}
.contact__content--items {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.login {
  width: 100%;
  margin: 100px 20px;
}
@media (min-width: 900px) {
  .login {
    width: 50%;
    margin: 100px auto;
  }
}
.login h1 {
  font-size: 48px;
  color: #121212;
  text-align: center;
}
.login h3 {
  font-size: 24px;
  text-align: center;
  color: #121212;
}
.login form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.login form input, .login form label, .login form select {
  width: 100%;
  margin-bottom: 20px;
}
.login form input, .login form select {
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}
.login form button {
  margin: 0 auto;
}
.login .resetPass {
  width: 100%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.login .resetPass a {
  color: #139487;
}
.login .signUpCTA {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
}

.signUp {
  width: 100%;
  margin: 100px 20px;
}
@media (min-width: 900px) {
  .signUp {
    width: 50%;
    margin: 100px auto;
  }
}
.signUp h1 {
  font-size: 48px;
  color: #121212;
  text-align: center;
}
.signUp h3 {
  font-size: 24px;
  text-align: center;
  color: #121212;
}
.signUp form {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-direction: column;
}
.signUp form input, .signUp form label, .signUp form select {
  width: 100%;
  margin-bottom: 20px;
}
.signUp form input, .signUp form select {
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}
.signUp form button {
  margin: 0 auto;
}

.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-areas: "header header" "aside content";
  grid-template-rows: 90px 1fr;
  grid-template-columns: 300px 1fr;
}
.dashboard .dashboardHeader {
  grid-area: header;
}
.dashboard .asideDashboard {
  grid-area: aside;
}
.dashboard .contentDashboard {
  grid-area: content;
  padding: 30px;
}

.challenges h3 {
  margin-bottom: 20px;
  font-size: 24px;
}
.challenges form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.challenges form .label-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}
.challenges form label {
  margin-bottom: 20px;
}
.challenges form input, .challenges form select {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
}
