.hero {
    width: 100%;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: 1fr;
    place-content: center;

    img {
        grid-area: 1 / 1 / 2 / 2;
        width: 100%;
        height: calc(100vh - 100px);
        object-fit: cover;
    }

    &__content {
        grid-area: 1 / 1 / 2 / 2;
        display: grid;
        place-content: center;

        h1 {
            margin-bottom: 20px;
            text-align: center;
            color: $lightColor;
        }

        button {
            display: inherit;
            margin: 0 auto;
        }
    }
}
